@model DominoesWithCompadres.Models.ViewModel.CreateGame

@if (!String.IsNullOrEmpty(ViewBag.ActionName) && ViewBag.ActionName == "Start")
{
    @Html.ValidationSummary()
}

@using (Html.BeginForm("Start", "Game", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Create_UserDisplayName, new{id = "create_displayName"})
    @Html.ValidationMessageFor(model => model.Create_UserDisplayName, "*");
    <br />

    bool first = true;
    <div class="hideIfMobile">
        @foreach (string value in Enum.GetNames(typeof(DominoesWithCompadres.Models.ViewModel.UserType)))
        {
            @Html.Label(value)
            if (first)
            {
                @Html.RadioButtonFor(model => model.UserType, value, new Dictionary<string, object>() { { "checked", "checked" } })
                first=false;
            }
            else
            {
                @Html.RadioButtonFor(model => model.UserType, value)
            }
        }
        <br />
    </div>
        <input type="submit" value="Create" />
}
