@model DominoesWithCompadres.Models.ViewModel.CreateGame

@if (!String.IsNullOrEmpty(ViewBag.ActionName) && ViewBag.ActionName == "Start")
{
    @Html.ValidationSummary()
}


@using (Html.BeginForm("Start", "Game", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Create_UserDisplayName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Create_UserDisplayName, new { id = "create_displayName" })
                @Html.ValidationMessageFor(model => model.Create_UserDisplayName, "*")
            </td>
        </tr>

        <tr class="hideIfMobile">
            <td>Join As</td>
            <td>
                @{bool first = true;}
                @foreach (string value in Enum.GetNames(typeof(DominoesWithCompadres.Models.ViewModel.UserType)))
                {
                    <div>
                        @Html.Label(value)
                        @if (first)
                        {
                            @Html.RadioButtonFor(model => model.UserType, value, new Dictionary<string, object>() { { "checked", "checked" } })
                            first = false;
                        }
                        else
                        {
                            @Html.RadioButtonFor(model => model.UserType, value)
                        }
                    </div>
                }
            </td>
        </tr>
        
        <tr>
            <td>
                <input type="submit" value="Create" />
            </td>
        </tr>
        
    </table>
}
