@model DominoesWithCompadres.Models.ViewModel.JoinGame

@if (!String.IsNullOrEmpty(ViewBag.ActionName) && (string)ViewBag.ActionName == "Join")
{
    @Html.ValidationSummary()
}

@using (Html.BeginForm("Join", "Game", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.GameCode)
            </td>
            <td>
                @Html.TextBoxFor(model => model.GameCode)
                @Html.ValidationMessageFor(model => model.GameCode, "*")
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.UserDisplayName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.UserDisplayName)
            </td>
        </tr>
        <tr class="hideIfMobile">
            <td>Join As</td>
            <td>
                @{bool first = true;}
                @foreach (string value in Enum.GetNames(typeof(DominoesWithCompadres.Models.ViewModel.UserType)))
                {
                    <div>
                        @Html.Label(value)
                        @if (first)
                        {
                            @Html.RadioButtonFor(model => model.UserType, value, new Dictionary<string, object>() { { "checked", "checked" } })
                            first = false;
                        }
                        else
                        {
                            @Html.RadioButtonFor(model => model.UserType, value)
                        }

                    </div>
                }

            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Join" />
            </td>
        </tr>

    </table>
}
